<p>Word Wrap:</p>
<%= form_with url: wrap_path, local: false do |f| %>
  <%= f.text_area :text %>
  <%= f.number_field :col_num, min: 1 %>
  <%= f.submit %>
<% end %>

<div id="wrapper" style="white-space: pre-wrap;"></div>
